// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
p,span,h1,h2,h3,h4,h5,h6,label{
  color : #FFF;
}
/******************alerts section */
#alertsContainer{
    position: fixed;
    z-index : 10000000000;
    left : 10px;
    bottom : 10px;
    width : 300px;
}
#searchSection{
    width : 100%;
}

.homepage-container{
  margin:0px auto;
}

.vue-tags-input{
  max-width: 100% !important;
  width: 100% !important;
}

.tooltip {
    display: block !important;
    z-index: 10000;
  
    .tooltip-inner {
      background: black;
      color: white;
      border-radius: 16px;
      padding: 5px 10px 4px;
    }
  
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: black;
      z-index: 1;
    }
  
    &[x-placement^="top"] {
      margin-bottom: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 5px;
  
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="right"] {
      margin-left: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[x-placement^="left"] {
      margin-right: 5px;
  
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }

.widget{
  margin-bottom : 30px;
  .card{
    height: 400px;
    overflow: auto;
  }
}

#pagination{
  max-width : 100%;
  width: 100%;
  overflow : scroll;
  #Pagination{
      max-width : 100%;
      overflow : scroll;
      & > div{
          max-width : 100%;
          overflow : scroll;
      } 
  }
}

.boxed-port{
  padding: 2.5px 5px;
  display: inline-block;
  margin: 2.5px 5px;
  border: 1px solid #DDD;
  border-radius : 5px;
}